@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

/* ### Neutral */
/* (paragraphs) */
--white : hsla(0, 0%, 100%, 0.75);
/* (background, headings, buttons) */
--Very-light-gray: hsl(0, 0%, 95%);}

body{
    margin:0;
    padding:0;
    font-size: 15px;
    color:var(--white);
}
/* Utility */
h1{
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing:2px;
}
p{
    width:80%;
    margin:40px 0;
    line-height: 1.8;
    font-family: 'Lexend Deca', sans-serif;
}
.card-content{
    display:flex;
    flex-direction: row;    
    margin:50px 150px ;
}
.card{
    width: 100%;
   
    background-color: green;
    padding:2rem;
}
.sedans{
    background-color: var(--Bright-orange);
    border-radius:10px 0 0 10px;
}

.suvs{
    background-color: var(--Dark-cyan);    
}
.luxury{
    background-color: var(--Very-dark-cyan);
    border-radius:0px 10px 10px 0px;
}
/* Buttons */
.btn{
    padding:1rem 2rem;
    border-radius: 40px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    margin-top:30px;
}
.sedans .btn{
    color:var(--Bright-orange);
}
.sedans .btn:hover{
        background-color:var(--Bright-orange);
        color: #fff;
        border: 2px solid #fff;
}
.suvs .btn{
    color:var(--Dark-cyan);
}
.suvs .btn:hover{
    background-color:var(--Dark-cyan);
    color: #fff;
    border: 2px solid #fff;
}
.luxury .btn{
    color:var(--Very-dark-cyan);
}
.luxury .btn:hover{
    background-color:var(--Very-dark-cyan);
    color: #fff;
    border: 2px solid #fff;
}

@media screen and (max-width:900px) {
    .card-content{
        display:flex;
        flex-direction: column;    
        margin:50px 150px;
    }   
    .sedans{
        border-radius:10px 10px 0px 0px;
    }
    .luxury{
        border-radius:0px 0px 10px 10px;
    }
}